@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    width: 0%;
    padding: 0%;
}
.background img{
    position: absolute;
    width: 95%;
    height: 90%;
    left: 40px;
    top: 40px;
}
.intro img
{
    position: absolute;
    width: 300px;
    height: 111px;
    left: 40%;
    top: 9px;
}
.intro h1
{
    font-family: 'Playfair Display', serif;
    position: absolute;
    top: 17px;
    font-weight: 400;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    left: 45%;
    top: -8px;

}
.lottie
{
    position: absolute;
    width: 176px;
    height: 197.28px;
    left: 40%;
    top: 100px;
}
.content h1{
    position: absolute;
    width: 940px;
    height: 85px;
    left: calc(50% - 940px/2);
    top: 290px;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 85px;
    text-align: center;

    color: #000000;

}
.content p 
{
    position: absolute;
    width: 497px;
    height: 29px;
    left: calc(50% - 497px/2 + 0.5px);
    top: 408.28px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
}
.btn 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 576px;
    height: 56px;
    left: 35%;
    top: 504px;
}
.btn span{
  
    width: 336px;
    height: 39px; 
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    
    text-align: center;
    
    color: #0066FF;
}
.btn button
{
    

    padding: 12px 16px; /* Some padding */
    font-size: 20px; /* Set a font size */
    cursor: pointer;
    width: 216px;
    height: 56px;
    background: #FFFFFF;
    border-radius: 40px;
    border: #fff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;

}
 button:hover
{
    box-shadow: 0px 15px 20px rgb(243, 239, 239);
    color: #000000;
    transform: translateY(-7px);
}
.social
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;
    position: absolute;
    width: 184px;
    height: 45px;
    left: 42%;
    bottom: 80px;
}

